<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated epsilonProject -->
      <package
            uri="http://www.example.org/epsilonProject"
            class="org.xscada.emf.epsilonProject.model.epsilonProject.EpsilonProjectPackage"
            genModel="model/epsilonProject.genmodel"/>
   </extension>

</plugin>
